#page-theme-moove-reportperiod .bg-1,
#page-theme-moove-reportindex .bg-1 {
  background-color: #1e88e5;
}

#page-theme-moove-reportperiod .bg-2,
#page-theme-moove-reportindex .bg-2 {
  background-color: #7460ee;
}

#page-theme-moove-reportperiod .bg-3,
#page-theme-moove-reportindex .bg-3 {
  background-color: #26c6da;
}

#page-theme-moove-reportperiod .bg-4,
#page-theme-moove-reportindex .bg-4 {
  background-color: #357a32;
}

#page-theme-moove-reportperiod .small-box,
#page-theme-moove-reportindex .small-box {
  border-radius: 4px;
  position: relative;
  display: block;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#page-theme-moove-reportperiod .small-box > .inner,
#page-theme-moove-reportindex .small-box > .inner {
  padding: 5px 10px;
}

#page-theme-moove-reportperiod .small-box h3,
#page-theme-moove-reportperiod .small-box p,
#page-theme-moove-reportindex .small-box h3,
#page-theme-moove-reportindex .small-box p {
  z-index: 5;
  color: #fff;
}
#page-theme-moove-reportperiod .small-box p,
#page-theme-moove-reportindex .small-box p {
  margin-bottom: 0;
}

#page-theme-moove-reportperiod .small-box h3,
#page-theme-moove-reportindex .small-box h3 {
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}

#page-theme-moove-reportperiod .small-box .icon,
#page-theme-moove-reportindex .small-box .icon {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: 5px;
  right: 40px;
  z-index: 0;
  font-size: 48px;
  color: rgba(0, 0, 0, 0.15);
}